html,body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.logo img {
  height: 3.5rem;         /* Altura del logo */
  width: auto;          /* Mantiene proporción */
  max-height: 100%;     /* No se sale de su contenedor */
  object-fit: contain;  /* Escala el logo sin deformarlo */
}
.navMe{
    background-color: #212429;
}

.white-color{
    color: aliceblue;
}
.espacio-derecha{
    margin-left: 10rem; /*margen responsive*/
}
.fs{
    font-size: 1rem;
}
@media (max-width: 578px) {
    #navbarNav .navbar-nav {
        text-align: right;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }
}
.bg-custom{
    background-color: rgba(20, 21, 27, 0.89);
}
.bg-bs{
    background-color: rgba(54,59,65,255);
}
.btn-green{
    background-color: #96c93e;
}
#footer-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 12.5%; /* 100/8 para espacio entre elementos */
    text-align: center;
}

@media (max-width: 825px) {
    .footer-item {
        width: 100%;
    }
}
@media (min-width: 826px) {
    .footer-item {
        flex: 1 1 0;
    }
}
  @media (max-width: 767.98px) {
    .custom-absolute-padding {
      padding: 0 !important;
      right: 1rem !important;
      bottom: 2rem !important;
    }
    /* Quitar padding a los botones en móvil */
    .custom-absolute-padding button {
      padding: 0.25rem 0.5rem !important; /* menos padding para que queden más compactos */
      width: 100%; /* opcional: que ocupen todo el ancho disponible */
      max-width: 200px; /* opcional: limitar ancho para que no quede gigante */
    }
  }


